.end-word {
    display: flex;
    justify-content: center;
    letter-spacing: 0.7vh;
    color: white;
    margin-top: 60px;
    margin-bottom: 20px;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.inside-container {
    display: flex;
    width: 50%;
    align-items: center;
    margin-right: 40px;
}
.content-start {
    justify-content: start;
}
.content-end {
    justify-content: end;
}
.center-div {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.in-text {
    margin-bottom: 30px;
    font-size: 18px;
}
.flex-start-div {
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.flex-mb-4 {
    display: flex;
    margin-bottom: 16px;
}
.icon {
    width: 22px;
    margin-right: 4px;
}
@media screen and (max-width: 960px) {
    .main-container {
        flex-direction: column;
    }
    .content-start {
        justify-content: center;
        margin-top: 20px;
    }
    .inside-container {
        margin-right: 0px;
    }
}