.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }




  
  .navbar-container .nav-item a:hover {
    color: rgba(67, 249, 212, 0.7) ;
    padding-bottom: 34px;
    border-bottom: 3px solid  rgba(56, 217, 186, 0.7) ;
    transition: all 0.2s ease-out;
}

  
  .navbar-logo {
    
    justify-self: start;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 48.68px;
  }
  
 
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: center;
    margin-right: 55px;
  }
  
  .nav-item {
    height: 80px;
    margin-top: 50px;

  }

  .fa-typo3 {
    margin-left: 0.7rem;
    font-size: 1.8rem;
  }

  .fa-bars {
    color: #fff;
  }
  
  .nav-links {
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5.5rem 2rem;
    height: 100%;
    font-family: sans-serif;
  }
  
  
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
    color: white;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 91vh;
      position: absolute;
      grid-gap: 0px;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 1em;
      width: 100%;
      display: table;
      margin-top: 0;
      font-size: 18px;
    }
  
    .nav-links:hover {
      background:transparent;
      color: black;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: -0.25rem;
      left: -1rem;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
    
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin:  auto;
      border-radius: 24px;
      width: 90%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #242424;
      color: #242424;
      transition: 250ms;
    }
  }