.partners {
    padding: 4rem;
    background-color: #000910;
}
  
  .partners h1 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 1rem;
    letter-spacing: 2vh;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    
  }
  
  .cards__items {
    margin-bottom: 24px;
    

  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
 
    
    
  }

  
  
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 80%;
    max-height: 100px;
    object-fit: contain;
   
  }
  
  /*.cards__item__img:hover {
    transform: scale(1.1);
  }
 */
  
  @media only screen and (min-width: 1200px) {
   
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
    .partners h1{
        letter-spacing: 0;

    }
  }